 body{
margin: 0;
padding: 0;
box-sizing: border-box;
 }
 header{
   width: 100vw;
   height: 100vh;
    background-image:url(img.jpg)  ; 
    background-repeat: no-repeat;
    background-size: 100% 100%;

    box-sizing: border; 
 
}
nav{
    width: 100%;
    height: 15vh;
    background-color: rgb(55, 56, 117);
   
    float: right;
    /* position: -webkit-sticky;
    position: sticky; */
} 
.logo{
    float: left;
 
  overflow: hidden;
}
.logo img {
    width: 218px;
    height: 118px;
  
}

  .manu_bar ul{
     margin-top: 20px;
    list-style-type: none;
    color: rgb(26, 218, 218);
    float: right;
    text-align: center;
    width: 45%;
    font-size: 25px;
   
    overflow: hidden;
    
      display: flex;  
} 


.manu_bar ul li{
  
   display: inline-block;
    text-align: center;
    margin:20px ;

} 
 .manu_bar ul li a{
     text-decoration: none;
     color: white;
     border: 1px solid black;
     border-radius: 10px;
     padding: 5px;
     margin: 15px;
     width: 25%;
 }   

 .manu_bar ul  li a:hover {
    background-color:rgb(59, 59, 95) ;
}
main{
    width: 100%;
    height: 90vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(96, 34, 167);
    //animation: mymove 5s infinite;

}
section a{
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: dodgerblue;
}
section a:hover{
   
    background-color: white;
}

 /* @media only screen and (max-width: 600px) {
    .logo img{
        font-size: 30px;
        padding-left: 1px;
    
  } 
  .manu_bar ul   {
      font-size: 15px;
  }
  } */
  
  
 


